<ul>
  <li><a routerLink="/settings">Settings</a></li>
  <li [hidden]="settings.getOperators().length === 0"><a routerLink="/exercise">Exercise</a></li>
</ul>

<h1>Settings</h1>

<label for="selectNrOfDigits">Digits:</label>
<select name="selectNrOfDigits" id="selectNrOfDigits" [(ngModel)]="settings.nrOfDigits" >
    <option *ngFor="let item of nrOfDigitsOptions" value="{{item}}">{{item}}</option>
</select>

<label for="selectNrOfQuestions">Questions:</label>
<select name="selectNrOfQuestions" id="selectNrOfQuestions" [(ngModel)]="settings.nrOfQuestions" >
  <option *ngFor="let item of nrOfQuestionsOptions" value="{{item}}">{{item}}</option>
</select>

<div *ngFor="let item of operatorOptions; let ix = index">
    <input type="checkbox" name="input{{item}}" id="input{{item}}" [(ngModel)]="settings.operators[ix]" />
    <label for="input{{item}}">{{item}}</label>
</div>
